// -------------------------------------
//   Couch
// -------------------------------------
// ----- Section Styles
// -------------------------------------

// COUCH SECTION
.l-couch {
	position: relative;
	background: url("../img/couch.jpg")no-repeat center center;
	@include bg-cover;
	.l-couch-copy {
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
	    opacity: 0;
	}
	.overlay {
		background: rgba(109, 102, 120, 0.5);
	}

	.callout-panel {
		width: 600px;
		height: 600px;
		-webkit-border-radius: 50%; 
		border-radius: 50%;
		p {
			margin: 3% 22% ;
			@include media(min-width 320px max-width 480px, 6) {
				margin: 3% 5% 0 5%;
			}
		}
		h2 {
			padding: 0 16%;
			@include media(min-width 320px max-width 480px, 6) {
				padding: 0 1%;
			}
		}
		.bottom-text {
			color: #f47960; 
		}

		margin: 0 10% 10% -10.5%;
		padding: 10% 1% 1% 0;
		background: rgba(247, 245, 244, 0.65);
		@include media(min-width 320px max-width 780px, 6) {
			margin: 0;
		}
		@include media(min-width 1300px, 6) {
			margin-top: 25%; 
		}
	}
}
